@-moz-viewport {widthL device-width; scale: 1; }
@-ms-viewport {widthL device-width; scale: 1; }
@-o-viewport {widthL device-width; scale: 1; }
@-webkit-viewport {widthL device-width; scale: 1; }
@viewport {widthL device-width; scale: 1; }

html{
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: 'Raleway', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.masthead{
  background-color: #BDE2D0;
}

.nav li{
  float: left;
}

.nav a {
  padding: .25em;
  display: inline-block;
  float: left;
  text-decoration: none;
  color: #f0675f;
}

.nav a:hover{
  padding: .25em;
  background-color: #fff;
  border-radius: 5px;
  color: #f0675f;
}

.speech{
  position: absolute;
}

.tour a{
  padding: .25em 1.5em .25em 1.5em;
  background-color: #f0675f;
  border-radius: 15px;
  text-decoration: none;
  color: #fff;
}

.sign-up{
  background-color: #BDE2D0;
  color: #fff;
  padding: 2em;
}

footer{
  background-color: #f0675f;
  color: #fff;
  padding: 1em;
}
