@-moz-viewport {widthL device-width; scale: 1; }
@-ms-viewport {widthL device-width; scale: 1; }
@-o-viewport {widthL device-width; scale: 1; }
@-webkit-viewport {widthL device-width; scale: 1; }
@viewport {widthL device-width; scale: 1; }

html{
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: 'Raleway', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.masthead{
  background-color: #026565;
}

.nav li{
  float: left;
}

.nav a {
  padding: .25em;
  display: inline-block;
  float: left;
  text-decoration: none;
  color: #E9DCCA;
}

.nav a:hover{
  padding: .25em;
  background-color: #fff;
  border-radius: 5px;
  color: #f0675f;
}

.speech{
  position: absolute;
}

.tour a{
  text-decoration: none;
  color: #000;
}

.sign-up{
  background-color: #026565;
  color: #fff;
  padding: 1em;
}

.signup{
  text-decoration: none;
  color: #fff;
  padding: .5em;
}

footer{
  background-color: #023749;
  color: #fff;
  padding: 1em;
}

footer a{
  color: #fff;
  padding: 1em;
}
